
.footer{
	bottom: 0px;
	text-align: center;
	background-color: #f8f8f8;
	color: #666666;
	border-top:#dddddd solid 1px;
	padding:2px;
}
.mainCon{
	cursor: pointer;
	background-color: #f8f8f8;
	padding:5px;
	margin: 0 2px;
	margin-bottom:20px;
	border-radius: 20px;
	box-shadow:1px 1px 2px #cccccc;
}
.mainCon:hover{
	border:1px #122B40 solid;
}
.tx{
	height: 100px;
	width: 100px;
	border-radius: 50% 50%;
	background-image: url(../img/tx.png);
	background-size: 100px 100px;
	margin-top: 20px;
	
}
.navs{
	text-align: center;
	padding-bottom: 5px;
	padding-top: 10px;
}
.navs a{

	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	color: #204D74;
	font-size: 15px;
	border: 1px solid #204D74;
	padding:2px 5px;
	border-radius: 12px;
}
.navs a:hover{
	color: #ffffff;
	background-color: #204D74;
}
.bander{
	text-align: center;
	font-size: 18px;
	color: #9D9D9D;
	font-weight:800;
	padding-top: 80px;
}
.inbox{

	word-wrap: break-word;
	overflow: hidden;

}

.blog-post{
	padding: 5px;
	margin-bottom:20px ;
}
.blog-post span{
	background-color:#23527C;
	padding: 5px 10px;
	margin-right: 20px;
	color: #ffffff;
	cursor: pointer;
}
.blog-post span:hover{
	background-color: #122B40;
}
.blog-post:hover{
	box-shadow:0px 0px 3px #1B6D85 ;
}
#stblog img{
	width: 10%;
}
.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0} 

.reply{
	width: 60%;
	background-color: #4CAE4C;
	color: #FFFFFF;
	padding-left: 5px;
	border-radius: 10px 10px 10px 10px;
}
.send{
	width: 60%;
	background-color:#007FFF;
	color: #FFFFFF;
	padding-left: 5px;
	border-radius: 10px 10px 10px 10px;
}
.scrs{
	width: 0px;
	height: 0px;
	border-top: #4CAE4C 10px solid;
	border-bottom: #ffffff 5px solid;
	border-left: #ffffff 5px solid;
	border-right: #ffffff 5px solid;
}
.scrs-send{
	width: 0px;
	height: 0px;
	border-top: #007FFF 10px solid;
	border-bottom: #ffffff 5px solid;
	border-left: #ffffff 5px solid;
	border-right: #ffffff 5px solid;
}
.s-left{
	padding-left: 15px;
	margin-bottom: 15px;
}
.s-right{
	padding-right: 15px;
	margin-bottom: 15px;
}
