

nav a:hover{
	color: #286090;
	font-size: large;
}
.footer{
	bottom: 0px;
	text-align: center;
	background-color: #f8f8f8;
	color: #666666;
	border-top:#dddddd solid 1px;
	padding:2px;
}
.mainCon{
	cursor: pointer;
	background-color: #f8f8f8;
	padding:5px;
	margin: 0 2px;
	margin-bottom:20px;
	border-radius: 20px;
	box-shadow:1px 1px 2px #cccccc;
}
.mainCon:hover{
	border:1px #122B40 solid;
}
.tx{
	height: 100px;
	width: 100px;
	border-radius: 50% 50%;
	background-image: url(../img/tx.png);
	background-size: 100px 100px;
	margin: 20px;
}
.navbar-nav {
  float: none;
  text-align:center;
}
ul.nav.navbar-nav  li {
    float:none;
    display: inline-block;
    margin: 0em;
}