body{
	background-color: #B9BBBE;
}
.navbar-default{
	background-color: #212529;
	color: #E2E6EA;
}
.navbar-default a:hover{
	color:#ffffff;
	text-shadow: 0px 0px 3px #FFC107;
}
.main{
	word-wrap: break-word;
	overflow: hidden;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 20px;
	margin-bottom:10px ;
	cursor: pointer;
}	
